<div class="container-fluid">
  <div class="row-fluid">

    <div class="span10">
      <!--Body content-->

        <ul ng-repeat="phone in phones" class="phones">
            <li ng-repeat="player in phone" class="thumbnail">
                {{player}}
            </li>
        </ul>

    </div>
  </div>
</div>
